@import 'tools';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $basic-color;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    background-color: $spec-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    .heading {
        color: $dark-color;
        text-transform: uppercase;
        font-family:  Arial, Helvetica, sans-serif;
    }
    #audioElement {
        margin-top: 20px;
    }
    #playButton {
        display: block;
        margin: 5px;
        padding: 5px 8px;
        border-radius: 10px;
        background-color: $accent-color;
        text-transform: uppercase;
    }

    #video {
        width: 70%;
        height: 415px;
        margin: 10px 0 20px;
    }
    
    #map {
        width: 50%;
        height: 400px;
    }
    
    .footer {
        width: 100%;
        margin-top: 15px;
        padding: 10px;
        background-color: $accent-color;
        color: $add-color;
        text-align: center;
    }
}


