$main-color: lightblue;

* {
  box-sizing: border-box;
}

body {
    background: $main-color url(../imgs/back.webp) no-repeat;
    background-size: cover;
}

.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    .sun { 
        width: 15%;
        position: relative;
        //set the sun to move horizontally
        transition: width 2s, height 2s, transform 2s;
        animation: sun 10s infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
        animation-fill-mode: backwards;
        @keyframes sun {
            0%  {left: 0px; top: 0px;}
            45% {left: 85%; top: 0px;}
            99% {left: 0px; top: 0px;}
        }
        
        // set the sun to rotate when hovering
        &:hover {
            transform: rotate(360deg);
        }
        // positioning parts of the sun
        .sun-eyes {
            width: 25%;
            position: absolute;
            top: 33%;
            left: 37%;
        }
        // positioning parts of the sun
        .sun-smile {
            width: 25%;
            position: absolute;
            top: 50%;
            left: 37%;
        }
    }
    
    .feather img {
        width: 5%;
        transform: rotate(-90deg);
        position: relative;
        z-index: 5;
        animation: feather 25s infinite;
        animation-direction: alternate;
        animation-timing-function: linear;
        animation-fill-mode: backwards;
        &:hover {
            cursor: pointer;
            transform: skew(20deg, 15deg);
        }
        &:active {
            transform: translate(50px, 20px);
        }
    }

    // feather blown by the wind
    @keyframes feather {
        0%  {left: 0px; top: 0px;}
        5% {left: 60px; top: 30px;}
        10% {left: 150px; top: 60px;}
        20% {left: 250px; top: 100px;}
        27% {left: 330px; top: 150px;}
        35% {left: 400px; top: 120px; rotate: (-50deg);}
        42% {left: 450px; top: 100px; rotate: (-70deg);}
        50% {left: 500px; top: 140px; rotate: (-90deg);}
        58% {left: 530px; top: 180px;}
        65% {left: 600px; top: 250px;}
        72% {left: 530px; top: 180px;}
        78% {left: 450px; top: 100px; rotate: (-70deg);}
        83% {left: 250px; top: 100px;}
        88% {left: 150px; top: 60px;}
        93% {left: 60px; top: 30px;}
        96% {left: 0px; top: 0px;}
    }

    .music {
        display: flex;
        flex-direction: row;
        .container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .sound {
                display: flex;
                justify-content: space-around;
                position: relative;
                width: 100%;
                .note {
                    width: 3%;
                    position: absolute;
                    bottom: 10px;
                    transition: all 3s;
                    animation: note 10s infinite;
                }
                // notes increase and decrease
                @keyframes note {
                    0%   {transform: scale(0.8, 0.8)}
                    75%  {transform: scale(2, 2)}
                }
                
                .note--add {
                    top: 20px;
                    right: 29px;
                }
                
                .note--spec {
                    top: 60px;
                    left: 9px;
                }
            }

            .instrument {
                width: 30%;
                transition: all 7s;
                animation: instrument 10s infinite;
                animation-direction: alternate-reverse;
                animation-timing-function: ease-in-out;
                animation-fill-mode: none;
            }
            
            // musical instruments sway
            @keyframes instrument {
                0%   {transform: rotate(20deg)}
                75%  {transform: rotate(-20deg)}
            }
        }
    }
}